//
   Created by chenyulu on 15/12/23.
extends ../layout
include ../mixins/pagination
include ../mixins/status

block content
    div.ui.tabular.menu
        a.item.active 借阅管理
        a.item(href='/admin/appoint') 预约管理
        a.item(href='/admin/recommend') 荐购管理
    div.full.height
        div.toc
            div.ui.vertical.sticky.accordion.menu
                div.item
                    div.ui.icon.input
                        input(type='text', placeholder='搜索')
                        i.search.icon
                    +status(stata, '/admin')
        div.article
            div.ui.header 借阅状态:借阅中
            table.ui.celled.table
                thead
                    tr
                        th.collapsing
                            div.ui.fitted.checkbox
                                input(type='checkbox')
                        th 用户
                        th 题名
                        th 作者
                        th 出版信息
                        th 出版年份
                        th ISBN
                        th 借阅日期
                        th 借阅期限
                tbody
                    each entry in entries
                        tr
                            td.collapsing
                                div.ui.fitted.checkbox
                                    input(type='checkbox')
                            td= entry.email
                            td= entry.title
                            td= entry.author
                            td= entry.pub_info
                            td= entry.pub_year
                            td= entry.isbn
                            td= entry.created_at
                            td= entry.status
                    +pagination('/admin', activeStatus ? 'status=' + activeStatus : '')


