//
   Created by chenyulu on 15/12/27.
extends ../layout
include ../mixins/pagination
include ../mixins/status

block content
    div.ui.tabular.menu
        a.item(href='/admin') 借阅管理
        a.item.active 预约管理
        a.item(href='/admin/recommend') 荐购管理
    div.full.height
        div.toc
            div.ui.vertical.sticky.accordion.menu
                div.item
                    //div.ui.icon.input
                    //    input(type='text', placeholder='搜索')
                    //    i.search.icon
                    +status(stata, '/admin/appoint')
        div.article
            div.ui.header 预约状态:待处理
            table.ui.celled.table
                thead
                    tr
                        th.collapsing
                            div.ui.fitted.checkbox
                                input(type='checkbox')
                        th 用户
                        th 题名
                        th 作者
                        th 出版信息
                        th 出版年份
                        th ISBN
                        th 预约日期
                        th 预约状态
                tbody
                    each entry in entries
                        tr
                            td.collapsing
                                div.ui.fitted.checkbox
                                    input(type='checkbox')
                            td= entry.email
                            td= entry.title
                            td= entry.author
                            td= entry.pub_info
                            td= entry.pub_year
                            td= entry.isbn
                            td= entry.created_at
                            td= entry.status
            +pagination('/admin/appoint', activeStatus ? 'status=' + activeStatus : '')


