extends ../layout

block content
    //div.ui.tabular.menu
    //    a.item(href='/books') 分类浏览
    //    //a.item(href='/books/hot') 热门图书
    //    a.item(href='/books/new') 新书速递

    div.full.height
        include ../partials/book_list
        div.article
            div.ui.container
                div.ui.header 书目信息
            if book
                div= JSON.stringify(book)
                div.ui.segment.piled.container
                    h2.ui.header 梵高传
                    div.ui.relaxed.divided.list
                        div.item
                            div.content
                                h4.header 作者
                                div.description= book.author
                        div.item
                            div.content
                                h4.header 出版方
                                div.description= book.pub_info
                        div.item
                            div.content
                                h4.header 出版年份
                                div.description= book.pub_year
                        div.item
                            div.content
                                h4.header ISBN
                                div.description= book.isbn
                        div.item
                            div.content
                                h4.header 馆藏
                                div.description= book.stock
                                    span  本
                        div.item
                            div.content
                                h4.header 可借
                                div.description= book.stock - book.lend_count
                                    span  本
                        div.item
                            div.content
                                h4.header 类别
                                div.description= book.category_char
                        div.item
                            div.content
                                h4.header 摘要
                                div.description= book.detail
                        div.item
                            if book.status === 0
                                button.ui.button 预约
                            else
                                button.ui.disabled.button 已预约
