extends layout
include ./mixins/pagination

block content
    //div.ui.tabular.menu
    //    //a.active.item 分类浏览
    //    ////a.item(href='/books/hot') 热门图书
    //    //a.item(href='/books/new') 新书速递

    div.full.height
        include partials/book_list
        div.article
            //div.ui.masthead.vertical.segment
            if category.name
                div.ui.header#navbar= '分类: ' + category.char + ' ' + category.name
                if books
                    div.ui.text.menu#navbar
                        a.header.item(style='padding-left: 0;') 结果
                        a.active.item= count
            table.ui.celled.table
                thead
                    tr
                        th 题名
                        th 作者
                        th 出版方
                        th 出版年份
                        th ISBN
                        th 馆藏
                        th 可借
                if books
                    tbody
                        each book in books
                            //div= book
                            tr
                                td
                                    a(href='/books/'+book.id)= book.title
                                td= book.author
                                td= book.pub_info
                                td= book.pub_year
                                td= book.isbn
                                td= book.stock
                                td= book.stock - book.lend_count
                +pagination('/books/' + category.char)